footer {
    background-color: var(--ternary-color);
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

footer div:last-child {
    margin-bottom: 2rem;

    flex-direction: column;
    align-items: start;

    font-size: var(--font-size-small);
}

footer div p {
    color: var(--secondary-color);
}

footer img {
    min-width: 100px;
    max-width: 300px;

    cursor: pointer;
}