:root {
    --primary-color: #215bb8;
    --secondary-color: #D3DDED;
    --ternary-color: #071D41;
    --quaternary-color: #F8F8F8;
    --gray: #bdbbbbf5;
    
    --font-size-tiny: .8rem;
    --font-size-small: 1.1rem;
    --font-size-medium: 1.3rem;
    --font-size-large: 1.6rem; 

    --border-radius-small: 10px;
    --border-radius: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--font-size-large);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}